{% extends 'base.html.twig' %}

{% block title %}Strona Główna{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container">
<h1 class="display-4">Testing symfony page</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/main">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/testing">Testing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/langs">Languages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">disabled link</a>
        </li>
    </ul>
    <div class="jumbotron">
        <h3>
        Języki programowania:
        </h3>
        <ul>
            {% for jezyk in dane %}
                <li>
                    {{jezyk.caption}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
