{% extends 'base.html.twig' %}

{% block title %}Panel nauczyciela{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div class="container">
<h1 class="display-4">Dziennik ocen</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/show-grades">Sprawdź oceny</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/login">Logowanie nauczyciela</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/nauczyciel-dashboard">Panel nauczyciela</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Wyloguj</a>
        </li>
    </ul>
    <div class="jumbotron">
        panel nauczyciela
    </div>
</div>
{% endblock %}
